<h1> Your new Task</h1>

<%= form_for [current_user, @list, Task.new] do |f| %>

 <%= f.text_field :task_name, placeholder: "Task Name" %>
 
 <%= f.text_area :description, placeholder: "Description" %>
 
 <%= f.submit 'save', data:{confirm: 'save this data?'}  %>

<% end %>